#page {
  max-width: 1200px;
  min-width: 1190px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif; }

#nav {
  display: none; }

#header {
  display: none; }

#sidebar {
  display: none; }

img {
  padding: 0;
  margin: 0; }

ul.product li {
  display: inline; }
  ul.product li a {
    height: 1px;
    vertical-align: top; }
  ul.product li p.price {
    color: white;
    padding: 5px;
    margin-top: -280px;
    margin-right: 25px;
    height: 28px;
    width: 85px;
    position: absolute;
    z-index: 2;
    background-color: red;
    text-align: center;
    vertical-align: top; }
ul.product li.description {
  vertical-align: top;
  float: right;
  width: 250px; }
  ul.product li.description h3 {
    color: #000000;
    line-height: 18px;
    font-size: 1.3em;
    margin-bottom: 0.3em;
    font-weight: bold;
    font-style: normal;
    font-variant: normal; }
  ul.product li.description h3.product_size {
    color: #B9b9b9;
    font-size: 15em;
    padding-top: 80px;
    position: absolute;
    letter-spacing: -38px;
    z-index: -1; }
  ul.product li.description p {
    line-height: 1.5;
    color: #333333;
    font-size: 12px; }
